@model IEnumerable<shopquanao.Models.ChiTietDonHang>

@{
    ViewBag.Title = "DetailsCTDH2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 padding-8 ViewPrint">

    <h3>Thông tin khách hàng</h3>
    @foreach (var m in ViewBag.ViewChiTietDH2)
    {
        <h5>Họ tên: @m.khachhang.hoten</h5>
        <h5>Email: @m.khachhang.email</h5>
        <h5>Địa chỉ: @m.khachhang.diachi</h5>
        <h5>Số điện thoại: @m.khachhang.dienthoai</h5>
    }

    <h2>Chi tiết sản phẩm</h2>

    <table class="table">
        <tr>
            <th>mã đơn</th>
            <th>tên sp</th>
            
            <th>hình</th>
            <th>giảm giá</th>
            <th>giá km</th>
            <th>số lượng</th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.ViewSP)
        {
            <tr>
                <td>
                    @item.ctdh.madon
                </td>
                <td>
                    @item.sanpham.tensp
                </td>
                
                <td>
                    <img src=" @item.sanpham.hinh" height="100px" />
                </td>
                <td>
                    @item.sanpham.giamgia
                </td>
                <td>
                    @String.Format("{0:N0}", @item.sanpham.giakhuyenmai)
                </td>

                <td>
                    @item.ctdh.soluong
                </td>

            </tr>
        }

    </table>

    @foreach (var item in Model.Take(1))
    {
        <tr>
            <td>
                <strong> Tổng số lượng</strong>

                @Html.DisplayFor(modelItem => item.tongsoluong)
            </td>
            <td>
                <strong> Tổng giá tiền</strong>

                @String.Format("{0:N0}", item.tonggia)
            </td>

        </tr>
    }



    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/admin/js/printThis.js"></script>

<div>
    <button id="Print" class="btn btn-primary">Print</button>

</div>
<script>
    jQuery(document).ready(function ($) {
        $('#Print').on("click", function () {
            $('.ViewPrint').printThis({
                debug: false,               
                importCSS: true,            
                importStyle: false,         
                printContainer: true,       
                loadCSS: "~/Content/admin/css/adminlte.min.css",                
                pageTitle: "",              
                removeInline: false,        
                removeInlineSelector: "*",  
                printDelay: 333,            
                header: null,              
                footer: null,               
                base: false,                
                formValues: true,           
                canvas: false,              
                doctypeString: '...',       
                removeScripts: false,       
                copyTagClasses: false,      
                beforePrintEvent: null,     
                beforePrint: null,          
                afterPrint: null            
            });
        });
    });
</script>


