@model shopquanao.Models.HomeModel
@{
    ViewBag.Title = "ListSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .categ > a {
        color: black !important;
        font-size: 20px;
        display: inline-flex;
    }
</style>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>


<!-- category Here -->
<div class="body" style="padding-top: 10px;">
    <div class="d-flex">
        <div class="col-md-12 text-">
            <div class="section-heading">
                <div class="line-dec"></div>
                <h1>Loại</h1>
                @foreach (var item in Model.ListCategory)
                {
                    <div class="categ">
                        @Html.ActionLink(item.tendanhmuc, "productDanhmuc", "SanPham", new { @id = item.idDanhmuc }, null) <span>/</span>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    <div class="row">
                        @foreach (var item in Model.ListProduct.Take(5))
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Details", "SanPham", new { id = item.masp })">
                                    <div class="featured-item">
                                        <img src="@item.hinh" alt="Item 8">
                                        <h4>@Html.DisplayFor(modelItem => item.tensp)</h4>
                                        <h6>@String.Format("{0:N0}", item.giaban)</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- Ao khoac nam Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Quần Áo Nam</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    <div class="row">
                        @foreach (var item in Model.ListProduct.Where(n => n.idDanhmuc == 1))
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Details", "SanPham", new { id = item.masp })">
                                    <div class="featured-item">
                                        <img src="@item.hinh" alt="Item 8">
                                        <h4>@Html.DisplayFor(modelItem => item.tensp)</h4>
                                        <h6>@String.Format("{0:N0}", item.giaban)</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- Balo Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Balo</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    <div class="row">
                        @foreach (var item in Model.ListProduct.Where(n => n.idDanhmuc == 2))
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Details", "SanPham", new { id = item.masp })">
                                    <div class="featured-item">
                                        <img src="@item.hinh" alt="Item 8">
                                        <h4>@Html.DisplayFor(modelItem => item.tensp)</h4>
                                        <h6>@String.Format("{0:N0}", item.giaban)</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- Phu kien Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Phụ kiện</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    <div class="row">
                        @foreach (var item in Model.ListProduct.Where(n => n.idDanhmuc == 3))
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Details", "SanPham", new { id = item.masp })">
                                    <div class="featured-item">
                                        <img src="@item.hinh" alt="Item 8">
                                        <h4>@Html.DisplayFor(modelItem => item.tensp)</h4>
                                        <h6>@String.Format("{0:N0}", item.giaban)</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


<!-- ALl product Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Tất cả sản phẩm</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    <div class="row">
                        @foreach (var item in Model.ListProduct.Take(20))
                        {
                            <div class="col-md-3">
                                <a href="@Url.Action("Details", "SanPham", new { id = item.masp })">
                                    <div class="featured-item">
                                        <img src="@item.hinh" alt="Item 8">
                                        <h4>@Html.DisplayFor(modelItem => item.tensp)</h4>
                                        <h6>@String.Format("{0:N0}", item.giaban)</h6>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <center style="margin-top: 30px;">
                        <a href="@Url.Action("TatCaSanPham", "SanPham")" class="btn btn-primary text-white">Xem thêm</a>
                    </center>

                </div>

            </div>
        </div>
    </div>
</div>

